# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Mi unidad\OSU Classes\WINTER 2021 Classes\ROB534 - Seq Dec Make\Project\sdm_decmcts\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
